@import "/assets/css/theme-arc-green.css";

@font-face {
        font-family: 'Iosevka Aile';
        font-display: swap;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        src: url('https://folliehiyuki.com/woff2/iosevka-aile-regular.woff2') format('woff2'), url('https://folliehiyuki.com/ttf/iosevka-aile-regular.ttf') format('truetype');
}

@font-face {
        font-family: 'Iosevka Aile';
        font-display: swap;
        font-weight: 400;
        font-stretch: normal;
        font-style: italic;
        src: url('https://folliehiyuki.com/woff2/iosevka-aile-italic.woff2') format('woff2'), url('https://folliehiyuki.com/ttf/iosevka-aile-italic.ttf') format('truetype');
}

@font-face {
        font-family: 'Iosevka Aile';
        font-display: swap;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        src: url('https://folliehiyuki.com/woff2/iosevka-aile-bold.woff2') format('woff2'), url('https://folliehiyuki.com/ttf/iosevka-aile-bold.ttf') format('truetype');
}

@font-face {
        font-family: 'Iosevka Aile';
        font-display: swap;
        font-weight: 700;
        font-stretch: normal;
        font-style: italic;
        src: url('https://folliehiyuki.com/woff2/iosevka-aile-bolditalic.woff2') format('woff2'), url('https://folliehiyuki.com/ttf/iosevka-aile-bolditalic.ttf') format('truetype');
}

@font-face {
        font-family: 'Iosevka';
        font-display: swap;
        font-weight: 400;
        font-stretch: normal;
        font-style: normal;
        src: url('https://folliehiyuki.com/woff2/iosevka-regular.woff2') format('woff2'), url('https://folliehiyuki.com/ttf/iosevka-regular.ttf') format('truetype');
}

@font-face {
        font-family: 'Iosevka';
        font-display: swap;
        font-weight: 400;
        font-stretch: normal;
        font-style: italic;
        src: url('https://folliehiyuki.com/woff2/iosevka-italic.woff2') format('woff2'), url('https://folliehiyuki.com/ttf/iosevka-italic.ttf') format('truetype');
}

@font-face {
        font-family: 'Iosevka';
        font-display: swap;
        font-weight: 700;
        font-stretch: normal;
        font-style: normal;
        src: url('https://folliehiyuki.com/woff2/iosevka-bold.woff2') format('woff2'), url('https://folliehiyuki.com/ttf/iosevka-bold.ttf') format('truetype');
}

@font-face {
        font-family: 'Iosevka';
        font-display: swap;
        font-weight: 700;
        font-stretch: normal;
        font-style: italic;
        src: url('https://folliehiyuki.com/woff2/iosevka-bolditalic.woff2') format('woff2'), url('https://folliehiyuki.com/ttf/iosevka-bolditalic.ttf') format('truetype');
}

:root {
        --fonts-proportional: 'Iosevka Aile' !important;
        --fonts-monospace: 'Iosevka' !important;
}

.ui.bar {
        background-image: linear-gradient(-90deg, #5e81ac, #b48ead) !important;
}

#navbar > .item,
#navbar > .right.menu > .item {
        color: white;
}
