<img src="/images/kokkoro_swimsuit.png" style="float: right; height: 220px; margin-bottom: 12px"/>
<h2>Terms of Service</h2>

<p>This is a personal Fedi instance for myself only, so technically there is no need for a ToS. But I will try to "restrict" myself in posting things related to Anime/Manga and technology.</p>

<h2>Credits</h2>
<ul>
	<li><a href="https://fedi.absturztau.be/">fedi.absturztau.be</a> for the emoji sets</li>
</ul>
