<div style="margin-left: 12px; margin-right: 12px">
	<img src='/images/kokkoro_sprite.png' style="height: 120px; float: right; margin-bottom: 12px"/>
	<p>Welcome to Pleroma!</p>
	<p>Frontends:</p>
	<ul>
		<li style="margin-bottom: 12px"><a href="/main/all">PleromaFE</a></li>
		<li><a href="/web">MastoFE</a></li>
	</ul>
</div>
